<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/baza23104_117_backup_1</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="hbm2ddl.auto">validate</property>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
 
        <!-- c3p0 config http://www.hibernate.org/214.html -->
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>        
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">60</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">2</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
        <property name="hibernate.c3p0.acquireRetryDelay">250</property>

        <!--<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>-->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <mapping class="pl.skrzynkasmaku.integrator.prestashop.model.Address"></mapping>
        <mapping class="pl.skrzynkasmaku.integrator.prestashop.model.Order"></mapping>
        <mapping class="pl.skrzynkasmaku.integrator.prestashop.model.OrderDetail"></mapping>
 
    </session-factory>
</hibernate-configuration>